body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hiii.gif');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#ingredientInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#resultsContainer {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: rgba(248, 249, 250, 0.9);
    margin-bottom: 5px;
    border-radius: 4px;
}
